<%- include("../partials/header") %>
<div class="login-container">
  <h1>Create new offer</h1>
  <form action="/offices" method="POST">
      <div class="login-form">
          <input type="text" name="name" id="name-off"required/>
          <label for="Name">Name: </label>
          <span></span>
      </div>
      <div class="login-form">
          <input type="text" name="image" id="image-off" required/>
          <label for="password">Image URL: </label>
          <span></span>
      </div>
      <div class="login-form">
        <input type="text" name="description" id="description-off" required/>
        <label for="password">Description: </label>
        <span></span>
    </div>      
    <div class="login-form">
        <input type="text" name="country" id="country-off" required/>
        <label for="password">Country: </label>
        <span></span>
    </div>      
    <div class="login-form">
        <input type="text" name="city" id="city-off" required/>
        <label for="password">City: </label>
        <span></span>
    </div>
      <input type="submit" value="Submit">
      <div class="signup-link">
      </div>
  </form>
  </div>

<%- include("../partials/footer") %>
