<%- include("../partials/header") %>
<div class="container">
<h1>Create new offer</h1>
<form action="/offices" method="POST">
  <div>
    <input type="text" name="name" placeholder="name"/>
  </div>
  <div>
    <input type="text" name="image" placeholder="image url"/>
  </div>
  <div>
    <input type="text" name="description" placeholder="description"/>
  </div>
  <div>
    <button>Add!</button>
  </div>
</form>
<a href="/offices">Go back</a>
</div>
<div class="login-container">
  <h1>Create new offer</h1>
  <form action="/offices" method="POST">
      <div class="new-office-form">
          <input type="text" name="name" placeholder="name" required/>
          <label for="username">Login: </label>
          <span></span>
      </div>
      <div class="new-office-form">
          <input type="text" name="image" placeholder="image url" required/>
          <label for="password">Password: </label>
          <span></span>
      </div>
      <div class="new-office-form">
        <input type="text" name="description" placeholder="description" required/>
        <label for="password">Password: </label>
        <span></span>
    </div>
      <input type="submit" value="Submit">
      <div class="signup-link">
          Not a member? <a href="/register">Register</a>
      </div>
  </form>
  </div>

<%- include("../partials/footer") %>
