<%- include("../partials/header") %>

<div class="login-container">
  <h1>Login form</h1>
  <form action="/login" method="POST" id="log-form">
    <div class="login-form">
      <input type="text" id="login-log" name="username" required />
      <label for="username">Login: </label>
      <span></span>
    </div>
    <div class="login-form">
      <input type="password" id="password-log" name="password" required />
      <label for="password">Password: </label>
      <span></span>
    </div>
    <input type="submit" value="Submit" />
    <div class="signup-link">
      You're a member? <a href="/register">Register</a>
    </div>
    <div id="error-log"></div>
  </form>
  <% if(errors && errors.length>0){ %>
    <div class="errors">
      <ul>
        <% errors.forEach( someError => { %>
        <li><%= someError.msg %></li>
      </ul>
    </div>
    <% })} %>
</div>

<%- include("../partials/footer") %>
