<%- include("../partials/header") %>

<div class="login-container">
  <h1>Register form</h1>
  <form action="/register" method="POST" id="reg-form">
    <div class="login-form">
      <input type="text" id="email" name="email" required />
      <label for="email">Email: </label>
      <span></span>
    </div>
    <div class="login-form">
      <input type="text" id="login" name="username" required />
      <label for="login">Login: </label>
      <span></span>
    </div>
    <div class="login-form">
      <input type="password" id="password" name="password" required />
      <label for="password">Password: </label>
      <span></span>
    </div>
    <div class="login-form">
      <input type="text" id="adminCode" name="adminCode" placeholder="Admin code"/>
    </div>
    <input type="submit" value="Submit"/>
    <div class="signup-link">You're a member? <a href="/login">Login</a></div>
    <div id="error"></div>
  </form>
  <% if(errors && errors.length>0){ %>
    <div class="errors">
      <ul>
        <% errors.forEach( someError => { %>
        <li><%= someError.msg %></li>
      </ul>
    </div>
    <% })} %>
</div>

<%- include("../partials/footer") %>
