<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Office rental</title>
</head>
<body>
    <section>
        <div>
            
            <a href="/offices"> <h1>Welcome to <div class="official">official</div> rental page</h1></a>
        </div>
    </section>
</body>
</html>