.container-show-page{
    margin: 20px;
    padding: 20px;
    background-color: #cecece;
}

.container-show{
    display: grid;

    grid-template:  "image  desc" 40% 
                    "image  desc" 32.5%
                    "created  price" 10%
                    "comments comments" 10% / 60% 40%;
}

.head-show{
    display: flex;
    margin: 0 auto;
}

.name-show{
    display: flex;
    margin: 0 auto;
    /* padding-bottom:30px; */
}

.upd-del-show{
    display: flex;
    justify-content: flex-end;
}

.btn-del{
    margin: 0 5px;
}

.btn-del form{
    height: 30px;
}

.btn-del form button{
    background: none;
    outline: none;
    height: 100%;
    background: #e23939;
    color: #2691d9;
    border-radius: 20px;
}

.btn-del form button:hover{
    background: red;
    border: none;
}


.btn-edit{
    margin: 0 5px;
    height: 30px;
}

.btn-edit button{
    background: none;
    outline: none;
    height: 100%;
    color: #2691d9;
    background: #e2e22d;
    border-radius: 20px;
}

.btn-edit button:hover{
    background: yellow;
    border: none;
}

.image-show{
    grid-area: image;
    width: 100%;
}

.address{
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
}

.desc-show{
    grid-area: desc;
    height: 100%;
    text-align: center;
}

.price-show{
    grid-area: price;
}

.created-like-show{
    grid-area: created;
}

.comments-show{
    grid-area: comments;
}

.btn{
    height: 30px;
    border-radius: 20px;

}

.btn:hover{
    border:none
}