<%- include("../partials/header") %>

<div class="login-container">
  <h1>Add new review to <%= office.name %></h1>
  <form action="/offices/<%= office.id %>/reviews" method="POST">
      <div class="login-form">
          <input type="text" name="review[text]" required/>
          <label for="Name">Review: </label>
          <span></span>
      </div>
      <input type="submit" value="Submit">
      <div class="signup-link">
        <a href="/offices">Go back</a>
      </div>
  </form>
  </div>


<%- include("../partials/footer") %>